<html>
    <head>
        <title>Login - Spotify</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../../static/login/css/materialize.css "  media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="../../static/login/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="top">
            <img src="../../static/login/images/MusicFy_green.png" alt="spoftify_logo">
        </div>
        <hr>
       <div id="register">
            <h2>Log In</h2>
            {% if messages %}
			    <ul class="messages">
    		    {% for message in messages %}
    			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		    {% endfor %}
             </ul>
            {% endif %}
            <form action="/login" method="post">
                {% csrf_token %}
            <div class="input-field">
                <input id="email" name="email" type="text" class="validate">
                <label for="email">Email</label>
            </div>

            <br>

            <div class="input-field">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>

            <br>

            <div class="input-field">
                <input id="cpassword" name="cpassword" type="password" class="validate">
                <label for="cpassword">Confirm Password</label>
            </div>

            <br>
            <br>


            <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
                <i class="material-icons right">send</i>
            </button>
            
            </form>
            <p>Don't have an account?<a href="">  Sign Up!</a></p>
        </div>
        <script type="text/javascript" src="../../static/login/js/materialize.js"></script>
    </body>
</html>