<!DOCTYPE html>
<html>
<head>
    <title>Spotify</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.css "  media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="../static/css/login/style.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/javascript.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body id="index_body">
<header>
     <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"><img src="../static/images/Spotify_Logo_Black.png" alt="Spotify_Logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Premium</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Download</a></li>
            <li> | </li>
            <li><a href="">Sign Up</a></li>
            <li><a href="">Log In</a></li>
          </ul>
        </div>
    </nav>
</header> 
<main> 
 <div class="parallax-container">
    <div class="parallax"><img src="../static/images/landing_background.jpg"></div>
        <div class="parallax-container">
            <div class="parallax"><img src="../static/images/landing_background.jpg"></div>
        </div>
        <div class="section white, grey darken-3">
            <div id="middle" class="row">
                <div class="column, col s1"></div>
                <div class="column, col l5 s12">
                <div class="left_column">
                    <h2>What's on Musicfy?</h2>
                    <h4>Music</h4>
                    <p>There are millions of songs on Musicfy. Play your favorites,
                    discover new tracks, and build the perfect collection.</p>
                    <h4>Playlists</h4>
                    <p>You'll find readymade playlists to match your mood, put
                        together by music fans and experts.</p>
                        <h4>New Releases</h4>
                        <p>Hear this week's latest singles and albums, and check out
                        what's hot in the Top 50.</p>
                        </div>
                    </div>
                    <div class="column, col l5 s12" id="iron_maiden">
                        <img src="../static/images/landing_album.jpg" alt="Music-album-covers">
                    </div>
                    <div class="column, col s1"></div>
                </div>
            </div>
            <div class="parallax-container">
                    <div class="parallax"><img src="../static/images/landing_background.jpg"></div>
                </div> 
            <div class="section white, grey darken-3">
                    <div id="middle" class="row">
                        <div class="column, col s1"></div>
                        <div class="column, col l5 s12" class="thin">
                            <h2>One account. Listen everywhere.</h2>
                            <p>MOBILE - COMPUTER - TABLET - CAR</p>
                            <p>SPEAKER - PLAYSTATION - XBOX - TV - WEB PLAYER</p>
                        </div>
                        <div id="devices" class="column, col s5">
                            <img src="https://www.scdn.co/i/home/all-devicesAB.svg" alt="devices_image">
                        </div>
                        <div class="column, col l5 s12"></div>
                    </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="../static/images/landing_background.jpg"></div>
            </div>
</main>
<footer class="page-footer">
    <!--<div class="container">-->
        <div class="row">
            <div class="col l2 offset-l1">
                <a href="#" class="brand-logo"><img src="../static/images/Spotify_Logo_Black.png" alt="Spotify_Logo"></a>
            </div>
           <!-- <div class="col l5 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>-->
            <div class="col l2 offset-1 s12">
                <h5 class="white-text">COMPANY</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Jobs</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Press</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">News</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                    <h5 class="white-text">COMMUNITIES</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">For Artists</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Developers</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Brands</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Investors</a></li>
                    </ul>
            </div>
            <div class="col l2 s12">
                    <h5 class="white-text">USEFUL LINKS</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Gift</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Web Player</a></li>
                    </ul>
            </div>
        </div>
    <!--</div>-->
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>   
    <script type="text/javascript" src="../static/js/materialize.js"></script>
</body>
</html>