* {
    /*background-color: #212121;*/
}
/*HomePage*/
body {
    background-color: black;
}
header{
    background-color: #212121;
    height: 90px;
    z-index: 1000;
}
.material-icons {
    margin-top: 15px;
}
form {
    margin-top: 25px;
}
ul {
    background-color: ;
}
#slide-out {
    background-color: #00bb61;
}
#slide-out a {
    color: white;
}
.material-icons {
    font-size: 70px;
    color: white;
}
.input-field label {
    color: white;
}
.tabs .indicator {
    color: white;
}
#search {
    color: white;
}
.col img {
    width: 200px;
} 
h3 {
    color: white;
}
.carousel {
    /*background-color: #212121;
    border-radius: 25px;*/
}
h3 a {
    color: white;
}
h3 a:hover {
    color: #00bb61;
}
/* Accordion*/
.collapsible-header {
    color: white;
    background-color: #212121;
}
.collapsible-body a{
    color: white;
}
.collapsible-body a:hover{
    color: #00bb61;
}
.collapsible-body th{
    color: #00bb61;
    font-size: 30px;
}
/* Search Table */
th, td {
    color: white;
}
.left-align {
    color: #00bb61;
}



/* Style for Napster API*/

.header {
    font-size: 50px;
    text-align: center;
    
  }
  .track-cover {
    background-size: cover;
    width: 300px;
    height: 300px;
    display: inline-block;
  }
  
  .cover {
    background-size: cover;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    float: left;
    border: 3px solid black; 
    position: relative;
  }
  
  .audio {
      position: absolute;
      bottom: 0;
  }
  .cover:hover {
    cursor: pointer;
  }
  
  .content-name{
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .back-button {
        /* Remove all decorations to look like normal text */
      background: none;
      border: none;
      display: inline;
      font: inherit;
      margin: 0;
      padding: 0;
      outline: none;
      outline-offset: 0;
      /* Additional styles to look like a link */
      color: blue;
      cursor: pointer;
      text-decoration: underline;
  }