* {
    /*background-color: #212121;*/
}
/*HomePage*/
body {
    background-color: black;
}
header{
    background-color: #00bb61;
    height: 90px;
    z-index: 1000;
}
ul {
    background-color: ;
}
#slide-out {
    background-color: #00bb61;
}
#slide-out a {
    color: white;
}
.material-icons {
    font-size: 70px;
    color: white;
}
.input-field label {
    color: white;
}
.tabs .indicator {
    color: white;
}
#search {
    color: white;
}
.col img {
    width: 200px;
} 
h3 {
    color: white;
}
.carousel {
    /*background-color: #212121;
    border-radius: 25px;*/
}