<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home - Spotify</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../static/music/css/materialize.css "  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="../../static/music/css/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>
<body>
    <div id="top-bar">
            <form action="">
                <input type="text" name="search" id="search" value="Search">
            </form>
    </div>
    <div id="main">
        <div id="side-navigation">
            <nav class="card-panel green accent-3">
                YOUR LIBRARY:
                <a href="">Recently Played</a>
                <a href="">Songs</a>
                <a href="">Albums</a>
                <a href="">Artists</a>
                <a href="">Stations</a>
                <a href="">Local Files</a>
                <a href="">Videos</a>
                <a href="">Podcasts</a>

                PLAYLISTS:
                <a href="">User's Playlist Name</a>
                <a href="">User's Playlist Name</a>
                <a href="">User's Playlist Name</a>
                <a href="">User's Playlist Name</a>
            </nav>
        </div>

        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                  <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                  <a href="#name"><span>Jonathan</span></a>
                  <a href="#email"><span>jbarragan@gmail.com</span></a>
                </div>
            </li>
            <li><a href="#!">Home</a></li>
            <li><a href="#!">Your Music</a></li>

            <li><div class="divider"></div></li>

            <li><a class="subheader">YOUR LIBRARY:</a></li>
            <li><a class="waves-effect" href="#!">Recently Played</a></li>
            <li><a class="waves-effect" href="#!">Your Playlists</a></li>
            <li><a class="waves-effect" href="#!">Songs</a></li>
            <li><a class="waves-effect" href="#!">Albums</a></li>
            <li><a class="waves-effect" href="#!">Artists</a></li>
            <li><a class="waves-effect" href="#!">Stations</a></li>
            <li><a class="waves-effect" href="#!">Local Files</a></li>
            <li><a class="waves-effect" href="#!">Videos</a></li>
            <li><a class="waves-effect" href="#!">Podcasts</a></li>

            <li><div class="divider"></div></li>
            
            <li><a class="subheader">PLAYLISTS</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <div class="block">
            <h3>Playlists</h3>
            <blockquote>
                    This is an example quotation that uses the blockquote tag.
            </blockquote>
        </div>
        <div class="block">
            <h3>Recommendations</h3>
        </div>
    </div>
    <script type="text/javascript" src="../../static/music/js/materialize.js"></script>
    <script type="text/javascript" src="../../static/music/js/javascript.js"></script>
</body>
</html>