<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Playlists - Spotify</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../static/music/css/materialize.css "  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="../../static/music/css/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>
<body>
    <header>
        <div class="row">
            <div class="col l1">
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                          <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                          <a href="#name"><span>Name |</span></a>
                          <a href="#email"><span>Username |</span></a>
                          <br>
                          <a href="#email"><span> Log Out</span></a>
                        </div>
                    </li>

                    <li><div class="divider"></div></li>

                    <li><a href="/music/{{ user.id }}">Home</a></li>
                    <li><a href="/music/{{ user.id }}/browse">Browser</a></li>
                    <li><a href="#!">Your Music</a></li>
        
                    <li><div class="divider"></div></li>
        
                    <li><a class="subheader">YOUR LIBRARY:</a></li>
                    <li><a class="waves-effect" href="#!">Recently Played</a></li>
                    <li><a class="waves-effect" href="/music/{{ user.id }}/playlists">Your Playlists</a></li>
                    <li><a class="waves-effect" href="#!">Songs</a></li>
                    <li><a class="waves-effect" href="#!">Albums</a></li>
                    <li><a class="waves-effect" href="#!">Artists</a></li>
                    <li><a class="waves-effect" href="#!">Local Files</a></li>
                    <li><a class="waves-effect" href="#!">Videos</a></li>
                    <li><a class="waves-effect" href="#!">Podcasts</a></li>
        
                    <li><div class="divider"></div></li>
                    
                    <li><a class="subheader">PLAYLISTS</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
            <div class="col l4">

                    <form action="">
                            <div class="input-field">
                                <input id="search" name="search" type="text">
                                <label for="search">Search</label>
                            </div>
                    </form>

            </div>
            <div class="col l2 offset-l4 ">
                <a href=""><img src="../../static/login/images/MusicFy_white.png" alt="MusicFy_Logo_green"></a>
            </div>
        </div>
    </header>
    <main>
        <h1 style="color:white" class="center-align">Playlists</h1>
        <div class="row">
            <div class="col l1 s12"></div>
            <div class="col l5 s12">
                <h3 class="center-align"><a href="#" src="">Playlist Name</a></h3>

                    <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="../../static/login/images/landing_album2.jpg"></a>
                            <a class="carousel-item" href="#two!"><img src="../../static/login/images/landing_album3.png"></a>
                            <a class="carousel-item" href="#three!"><img src="../../static/login/images/landing_album4.jpg"></a>
                            <a class="carousel-item" href="#five!"><img src="../../static/login/images/landing_album.jpg"></a>
                    </div>
                </div>
                <div class="col l5 s12">
                <h3 class="center-align"><a href="#" src="">Playlist Name</a></h3>

                    <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="../../static/login/images/landing_album2.jpg"></a>
                            <a class="carousel-item" href="#two!"><img src="../../static/login/images/landing_album3.png"></a>
                            <a class="carousel-item" href="#three!"><img src="../../static/login/images/landing_album4.jpg"></a>
                            <a class="carousel-item" href="#five!"><img src="../../static/login/images/landing_album.jpg"></a>
                    </div>
                </div>
        </div>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="../../static/music/js/materialize.js"></script>
    <script type="text/javascript" src="../../static/music/js/javascript.js"></script>
</body>
</html>