* {
    /*margin: 20;*/
    /*border: solid black 1px;*/
}
/*Login and Registration*/
body {
    margin: 0 auto;
    background-color: #212121;
}
h5 {
    color: #00964d;
}
.btn{
    background-color: #00964d;
}
.btn:hover {
    background-color: #00703a;
}
#register, #login, #top {
    width: 440px;
    display: inline-block;
    margin-left: 35%;
}
#login {
    vertical-align: top;
}
#register h2, #login h2 {
    display: inline;
    margin: 0 0 0 150px;
    color: #00964d;
}
#register h2 {
    display: inline;
    margin: 0 0 0 50px;
}
.messages {
    color: red;
}
#register p {
    color:white;
}
#register a {
    color: #00964d;
}
#top img {
    width: 500px;
}
.sign_up {
    margin-left: 150px; 
}



/* index */
#index_body {
    width: 100%;
    /*margin: 10px;*/
}
nav { /* keeps top nav fixed on the browser window when scrolling down*/
    position: fixed;
    /* z index allows the nav bar to stay on top of every other element when scrolling down*/
    z-index: 1000;
    background-color: #00bb61;
    /*background-color: #00994f;*/
    height: 90px;
}
.top {
    margin:15px 120px 0 0;
}
.top a{
    font-size: 18px;
}

.brand-logo img{
    width: 200px;
    height: 100px;
    margin: 0 0 0 150px;
}
.col .brand-logo img {
    margin: 0;
    width: 200px;
    height: 100px;
}
.top {
    height: 80px;
}
#devices img {
    width: 600px;

}
.carousel {
    height: 420px;
    padding-bottom: 20px;
}
/* adjust height width of carousel*/
.carousel .carousel-item {
    width:300px !important;
    height: 100px;
}
.section {
    padding: 80px 0 80px 0;
}
.left_column {
    margin: 20px 70px 20px 20px;
    
}
.left_column p{
    font-size: 15px;
    
}
.left_column h4{
    margin-top: 0px;
    
}
.page-footer {
    background-color: #00964d;
}
.left_column h2,.left_column h4,.left_column p,  h2, p{
    color: white;
}

main {
    padding-top: 90px;
}